* {
    font-family: 'Nunito Sans';
    box-sizing: border-box;
  }

    /* ######################## 
  
          SPLASH STYLING

     ########################
  */


  
    
  /* ######################## 
  
          MAIN STYLING

     ########################
  */

  

  .btn {
    z-index : -1;
    left : 50%;
    transform : translateX(-50%);
  }

  .fa-robot {
    color: #fff;
  }
  
  body {
    margin: 0 auto;
    padding: 3px;
    /* background-color: rgb(255, 255, 255); */
    background: linear-gradient(177.9deg, rgb(58, 62, 88) 3.6%, rgb(119, 127, 148) 105.8%);  
    height: 100vh;

    color: #fff
  
  
  };




      
  /* ###################################
  
      GAME STYLING ROUND & TARGET NUMBER

     ####################################
  */

  .container {
    width: 90%;
  }
  


  .game-container {
    max-width: 1040px;
    margin: 0 auto;
    text-align: center;
  }
  

  .rounds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .round-label {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .target-num {
    font-size: 2rem;
  }

/* ###################################
  
     STYLING FOR ROBOT & HUMAN BOXES

   ####################################
*/

  .guessing-area {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 60px;
  }
  
  .guess-container {
    min-width: 230px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px;
  }
  
  .guess-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .guess-label {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
  }
  
  .score-label {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
  }

  
  .robot-guess {
   box-shadow:  0 0 5px #979797;
  }

  .human-guess {
  box-shadow:  0 0 5px #979797;

  }
  
  #robot-guess {
    font-size: 3rem;
    font-weight: 700;
    color: #a5a5a5;
    margin: 0;
  }
  

  
  #human-guess-input {
    height: 40px;
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 7px;
  }


  /* ###################################
  
     STYLING FOR HUMAN CONTROLS

   ####################################
*/

  
  .number-controls {
    font-size: 0;
    margin-bottom: 23px;
  }
  
  .number-control {
    border: solid 1px #4c7ef3;
    display: inline-block;
    width: 45px;
    height: 35px;
    font-size: 24px;
    font-weight: 700;
    color: #4c7ef3;
    cursor: pointer;
  }
  
  .number-controls button[disabled] {
    color: #dfdfdf;
    cursor: default;
  }
  
  .left {
    border-top-left-radius: 22.5px;
    border-bottom-left-radius: 22.5px;
  }
  
  .right {
    border-top-right-radius: 22.5px;
    border-bottom-right-radius: 22.5px;
    border-left-width: 0px;
  }
  
  .controls {
    display: flex;
    justify-content: space-around;
  }
  


  
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }


  /* ##########################
      
  STYLING FOR BOTH NEXT ROUND BUTTON WHEN NOT ACTIVE 
  & STYLING FOR WINNING TEXT FOR COMPUTER
  
     ########################## 
  */


  .button[disabled] {
    background-color: #d2d2d2;
    color: #a0a0a0;
    cursor: default;
  }
   
  .winning-text, .winning-text[disabled] {
    color: #ec3636;
    font-weight: 700;
  }

  /* ##########################
      
    STYLING FOR CONTROL PANEL TO PLAY GAME
  
     ########################## 
  */

  .control-panel-container {

    border: solid 2px;
    width: 80%;
    margin: auto;
    background-color: #d1d1d1;
    position: relative;

  }

  .button-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 30px;
    padding-top: 20px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
  }

  .icons-container-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    width: 50%;
    margin-left: 10px;
    font-size: 2.5rem;
    grid-gap: 15px
  }

  .icons-container-two {
    border: solid 2px;
    margin: auto;
    height: 60px;
    width: 10px;
    margin-right: 20px;
    background-color: rgb(66, 66, 66);
    position: relative;
 
  }

  .leaver {
    transform: rotate(15deg);
    font-size: 3rem;
    position: absolute;
    top: -30%;
    left: -150%;
    color: black;
   
  }

  #dot-one {
    position: absolute;
    top: 5px;
    left: 5px;
    color: darkslategray;
  }
  #dot-two {
    position: absolute;
    top: 5px;
    right: 5px;
    color: darkslategray;
  }
  #dot-three {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: darkslategray;
  }
  #dot-four {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: darkslategray;
  }

  .icons-container-three {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    font-size: 2.5rem;
    padding: 10px;
  }

    
  #next-round {
    width: 179px;
    height: 64px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  #guess {
    padding: 20px;
    width: 179px;
    height: 59px;
    border: none;
    font-weight: 700;
    font-size: 18px;
  }

  .button {
    background-color: #4c7ef3;
    color: #fff;
    cursor: pointer;
  }
  
    
